/*------------------------------------*\
    #BOOKEASY SEARCH GADGET
\*------------------------------------*/

// scss-lint:disable all

.search-gadget {
    background: rgba(8, 113, 62, 0.95);
    border: 0;
    color: $sagovau-color-text-base;
    font-family: 'Frutiger LT Com', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 200;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;

    div.product,
    div.date,
    div.period,
    div.adults,
    div.children,
    div.infants,
    div.concessions,
    div.students,
    div.observers {
        display: inline-block;
        margin-right: 10px;
        width: 80px;
    }

    select,
    .pseudo {
        font-family: 'Frutiger LT Com', Helvetica, Arial, sans-serif;
        font-size: 16px;
        padding: .5em;
        background: #fff;
        border: 2px solid #fff;
        border-radius: 3px;
        color: $sagovau-color-text-base;
        width: 100%;
        appearance: none;
        outline: 0;
        line-height: 1;
        font-weight: 200;

        &:focus {
            border-color: #fff;
        }
    }

    div.date {
        width: 160px;

        .input {
            display: block;
        }

        .pseudo {
            display: block;
            width: auto;
        }
    }

    .label {
        display: block;
        color: #fff;
    }

    div.button   {
        display: none;

    }

    span {

        &.label {

        }

        &.input {

        }

    }
}
