<!DOCTYPE html>
<html data-ng-app="kioskApp" data-ng-controller="mainController">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">

        <title></title>

        <link href="css/main.css" rel="stylesheet">
        <link href="css/bookeasy.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet">

    </head>
    <body>

        <div class="wrapper">


            <!-- Primary navigation -->

            <nav class="primary-navigation" data-ng-cloak>

                <ul>
                    <li class="primary-navigation__item">
                        <a class="primary-navigation__link  primary-navigation__link--home" href="#" data-ng-click="renderPath = 'home'; $event.stopPropagation()">Home</a>
                    </li>

                    <li class="primary-navigation__item">
                        <a class="primary-navigation__link  primary-navigation__link--entry" href="#" data-ng-click="renderPath = 'vehicle-entry'; $event.stopPropagation()">Vehicle entry fees</a>
                    </li>

                    <li class="primary-navigation__item">
                        <a class="primary-navigation__link  primary-navigation__link--courts" href="#" data-ng-click="renderPath = 'tennis-courts'; $event.stopPropagation()">Tennis courts</a>
                    </li>

                    <li class="primary-navigation__item">
                        <a class="primary-navigation__link  primary-navigation__link--facilities" href="#" data-ng-click="renderPath = 'facilities'; $event.stopPropagation()">Facilities</a>
                    </li>
                </ul>

                <p>Trouble with your booking? <br />please contact 8278 5477</p>

                <div id="bookeasy__cart-gadget"></div>

            </nav>

            <!-- End primary navigation -->





            <!-- Site header -->

            <header class="site-header" role="banner">

                <div class="site-header__banner">

                    <img alt="National Parks South Australia" class="site-header__logo" src="images/npsa-logotype-vertical.svg">

                </div><!-- /.site-header__banner -->

            </header><!-- /.site-header -->

            <!-- End site header -->





            <!-- Main content -->

            <main class="main  main--internal">

                <div id="bookeasy__details-gadget" class="gadget"></div>

            </main>

            <!-- End main content -->


        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

        <script src="js/bookeasy-mods.js"></script>

        <script src="//gadgets.impartmedia.com/gadgets.jsz?key=d5192d41822d0c987a0610af120d29bf"></script>

        <script>

            var kioskApp = angular.module('kioskApp', []);


            // create the controller and inject Angular's $scope
            kioskApp.controller('mainController', function( $scope ) {

                $scope.renderPath = 'home';

                $scope.$watch('renderPath', function() {

                    // Update the rendering.
                    render();
                });

                render = function() {

                    var isHome = ($scope.renderPath == 'home');
                    var isEntry = ($scope.renderPath == 'vehicle-entry');
                    var isCourts = ($scope.renderPath == 'tennis-courts');
                    var isFacilities = ($scope.renderPath == 'facilities');

                    $scope.initGadget($scope.renderPath);

                };

            });

            kioskApp.run(function($rootScope) {
                $rootScope.initGadget = function(path) {

                    if (path != 'home') {
                        switch (path) {
                            case 'vehicle-entry':
                                productID = '67625';
                                break;
                            case 'tennis-courts':
                                productID = '67622';
                                break
                            case 'facilities':
                                productID = '65345';
                        }

                        document.getElementById('bookeasy__details-gadget').innerHTML = '';

                        $w(function() {

                            // load details gadget
                            BE.gadget.details('#bookeasy__details-gadget', {
                                defaultDate: new Date(),
                                descriptionHover: true,
                                period: 1,
                                productID: productID,
                                showHoverInline: true,
                                showQuantity: false,
                                thumbsInGrid: true,
                                type: 'tours',
                                vcID: 188
                            });


                            // load cart gadget
                            BE.gadget.cart('#bookeasy__cart-gadget', {
                                vcID: '188',
                                bookingURL: 'http://www.environment.sa.gov.au/parks/Find_a_Park/Browse_by_region/Yorke_Peninsula/innes-national-park/kiosk/checkout',
                                autoCollapse: true,
                                overlaySettings: {
                                    useBlockout: true,
                                    overlayColour: '#777',
                                    overlayOpacity: 0.5,
                                    innerBackground: '#fff',
                                    zIndexLowest: 1000000,
                                    width: 1000,
                                    height: false
                                }
                            });

                            $('.be-fancybox').fancybox();

                        });
                    }

                }
            });

        </script>

    </body>
</html>
