/*------------------------------------*\
    #PAGE
\*------------------------------------*/


html {
    background: #963c1a url('../images/belair-bg-1920.jpg') no-repeat 0 0 fixed;
    // background: url('file:///C:/Program Files (x86)/SiteKiosk/Html/kiosk/images/innes-bg.jpg') no-repeat center center fixed;

    @media only screen and (min-width: 1921px) {
        background-image: url('../images/belair-bg-2560.jpg');
    }
}

body {
    margin: 0;
    user-select: none;
}

h1 {
    color: #fff;
    font-family: 'Dewnrger', 'Frutiger LT Com', Helvetica, Arial, sans-serif;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
