/*------------------------------------*\
    #PAGE OVERLAY
\*------------------------------------*/

.page-overlay {
    transition: background 400ms;
}

.overlay-open {
    overflow: hidden !important;

    /*div*/.page-overlay {
        width: auto;
        height: auto;
        display: block;
        overflow: auto;
        overflow-y: scroll;
        position: fixed;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.75);
    }
}
