{% set bookeasy_key = 'd5192d41822d0c987a0610af120d29bf' %}
{% set bookeasy_type = 'tours' %}
{% set operator_id = '' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0">

        <title></title>

        <!-- Stylesheets -->
        <link href="css/main.css" rel="stylesheet">
        <link href="css/bookeasy.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet">
        <!-- End Stylesheets -->

    </head>

    <body data-ng-app="kioskApp">


        <div class="wrapper">


            {% include "shared/site-header.html" %}





            {% include "shared/primary-navigation.html" %}





            <!-- Main content -->
            <main class="main  main--internal" role="main">

                <div id="bookeasy__details-gadget"></div>

            </main>
            <!-- End main content -->

        </div>





        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

        <script src="js/bookeasy-mods.js"></script>

        <script src="//gadgets.impartmedia.com/gadgets.jsz?key={{ bookeasy_key }}"></script>

        <script>

            $(function() {

                // load details gadget
                BE.gadget.details('#bookeasy__details-gadget', {
                    defaultDate: new Date(),
                    descriptionHover: true,
                    period: 1,
                    productID: '{{ operator_id }}',
                    showHoverInline: true,
                    showQuantity: false,
                    thumbsInGrid: true,
                    type: '{{ bookeasy_type }}',
                    vcID: 188
                });

                $('.be-fancybox').fancybox();

            });

        </script>

    </body>
</html>
